<?xml version="1.0" encoding="UTF-8"?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gartner.gwc"
        versionCode="10" 
        version   = "1.0.0">

<name>GWC 2013</name>

<description>
Gartner App
</description>

<author href="http://www.dreamshock.com"
email="scott@dreamshock.com">
Scott Wright
</author>

<icon src="img/GWC.png" gap:role="default" />
<icon src="img/icon-57.png" gap:platform="ios" width="57" height="57" />
<icon src="img/icon-72.png" gap:platform="ios" width="72" height="72" />


<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<preference name="exit-on-suspend" value="true" />
<preference name="phonegap-version" value="2.0.0" />
<preference name="fullscreen" value="false" />
<preference name="webviewbounce" value="false" />
<gap:splash src="img/splash.png" width="320" height="480" />
<gap:splash src="img/splash.png" width="640" height="960" />
<gap:splash src="img/splash.png" width="1024" height="768" />
<gap:splash src="img/splash.png" width="768" height="1024" />

</widget>