/******************************************************\
*
*  Grey-Blue skin
*
*    1. Arrows(direction) navigation
*    2. Paging navigation
*
\******************************************************/



/******************************************************\
*
*  1. Arrows (direction) navigation
*
\******************************************************/
.touchcarousel.grey-blue .arrow-icon {	
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	width: 35px;
	height: 25px;	
	margin-top: -9px;
}
.touchcarousel.grey-blue .arrow-holder {
	width: 35px;
	height: 100%;
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;	
}
.touchcarousel.grey-blue .arrow-holder.left {
	left: -30px;

}
.touchcarousel.grey-blue .arrow-holder.right {	
	right: -14px;
}

.touchcarousel.grey-blue .arrow-icon.left {
	left: 0;
	background-position: 11px -12px;
	background-color: #FFF;
	border-radius: 0px 5px 5px 0px;
}
.touchcarousel.grey-blue .arrow-icon.right {
	right: 0;
	background-position: -180px -11px;
	background-color: #FFF;
	border-radius: 5px 0px 0px 5px;
}


/******************************************************\
*
*  2. Paging navigation
*
\******************************************************/

.touchcarousel.grey-blue .tc-paging-item {
	background: url('sprite.png') no-repeat -95px -4px;
	
	width: 16px;
	height: 16px;	
	
	-moz-opacity: 0.8;	
	-webkit-opacity: 0.8;	
	opacity: 0.8;	
}
.touchcarousel.grey-blue .tc-paging-item.current {	
	background: url('sprite.png') no-repeat -95px -22px;
}
.touchcarousel.grey-blue .tc-paging-item:hover {		
	-moz-opacity: 1;	
	-webkit-opacity: 1;	
	opacity: 1;		
}




